/*
===============================================================
Child Theme Styles
===============================================================
AUTHOR: Christian Wach <needle@haystack.co.uk>
---------------------------------------------------------------
NOTES

---------------------------------------------------------------
*/



/* Header Background */
#header_top
{
	background: #0A0933 url("../images/interface/2014_route_taller.jpg") 20px top no-repeat;
}



/* Facebook */
.fbfpi_photo img,
.fbfpi_image img,
.fbfpi_event img
{
	max-width: 100%;
	height: auto;
}



/* next natural breakpoint
@media all and (max-width: 670px) {

	#titlewrap
	{
		margin-top: 18px;
	}

	#tagline
	{
		width: auto;
		margin-top: 6px;
	}

	#banner_ad
	{
		clear: left;
		float: left;
		width: 360px;
		margin-top: 4px;
	}

	#join_in_top
	{
		float: left;
		margin-left: 0;
		margin-right: 12px;
	}

	form#paypal_donate
	{
		float: left;
		clear: none;
		margin-top: 4px;
	}

	.search_form
	{
		position: absolute;
		right: 0;
		margin-right: 10px;
		margin-top: 8px;
		padding-top: 0;
	}

}
 */


